body {
    background: rgb(253, 251, 249);
    padding: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding:0;
}

/* cool colour: 235, 228, 228 */

img {
    box-shadow: gray 0 0 10px;
}

nav{
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    overflow: auto;
    height: auto;
    background-color: white;
    margin-left: 0px;
    z-index: 10;
 }

 .left-nav {
    flex:1 1 200px;
    margin-left: 30px;
    padding-right: 300px;
    margin-top: 14px;
 }

a {
    color: inherit;
    text-decoration: none;
    font-weight: bolder;
}
.right-nav a {
    margin-right: 25px;
    margin-left: -20px;
    display: inline-block;
    text-align: center;
    padding: 14px;
 }

a:hover {
    color:rgb(20, 124, 252);
 }

 .page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 225px;
    padding-bottom: 125px;
    margin: 0 auto;
 }

#home-page {
    max-width: 900px;
    padding-bottom: 300px;
}

 #home-page img{
    margin-left: 50px;
    margin-right: 20px;
    border-radius: 20%;
    width:200px;
 }

 #home-page a img {
    width: 45px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: auto;
 }

 #home-page a #giticon-link {
    width: 45px;
    border-radius: 50%;
 }
 

 #tech-stack {
    margin-top: 50px;
 }


 #tech-stack img {
    width: 35px;
    margin-left: 10px;
    margin-right: 0px;
    vertical-align: middle;
 }

#cpp {
    margin-bottom: 5px;
 }

#js {
    margin-bottom: 5px;
}


#about-page {
    background-color: white;
    padding-bottom: 155px;

}

#me2 {
    position: relative;
    width: 400px;
    height: auto;
    border-radius: 20%;
    margin-top: -100px;
    margin-right: -380px;
}


#text2 {
    margin-left: 400px;
    max-width: 550px;
    margin-top: -120px;
}

#project-page{
    align-items: flex-start;
    justify-content: initial;
    max-width: 900px;
}

#text3 {
    margin-top: -80px;
}
#text3 p {
    margin-right: -800px;
}

#stockpic{
    position: relative;
    width: 470px;
    margin-top: 100px;
    margin-left: -240px;
    border-radius: 10%;
    box-shadow: gray 0 0 30px;
}

.cstock {
    display: flex;
    position: relative;
    max-width: 500px;
    margin-left: 40px;
    margin-top: 100px;
}

p.cstock {
    margin-top: -5px;
    margin-bottom: 45px;
}

.highlight-box {
    background-color: yellow;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    box-shadow: yellow 0 0 50px;
}

.git-image {
    width: 30px;
    border: none;
    background-color: transparent;
}

.git-link img {
    width: 30px;
    border-radius: 50%;
    margin-top: 0px;
}

.git-link {
    margin-left: 175px;
    display: inline-block; /* Make the container inline-block for vertical alignment */
    vertical-align: middle; /* Align the container vertically */
}

.git-text {
    position: relative;
    margin-right: 5px; /* Add some spacing between text and image */
    margin-top: -200px;
    vertical-align: text-top;
}

#contact-page {
    background-color: white;
    padding-top: 95px;
}

footer {
    background-color: rgb(54, 54, 58);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#reach {
    display: none;
}

#contact-page h1 {
    margin-right: 100px
}

#contact-page h2 {
    font-size: 1.1em;
}

.contactlink {
    font-weight: lighter;
}
/* trying smth that doesnt work :(
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip::after {
    content: attr(data-tooltip); /* Get tooltip text from data-tooltip attribute 
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}
*/


